@media screen and (min-width: 1024px){
    .footer{
        background: var(--blue-950);
        font-size: 2rem;
        padding: 30px 40px;
        box-shadow:0 0 6px #0c0c0c ;
    }

    .container_footer{
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    .container_footer .info_contacto{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .info_contacto, .footer_nav, .redes{
        width: 330px;
    }

    .container_footer .info_contacto .contacto ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container_footer .info_contacto .contacto ul li{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .container_footer .info_contacto .contacto ul li i{
        font-size: 1.8rem;
    }

    .container_footer .info_contacto .contacto ul li a{
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        gap: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    .container_footer .info_contacto .contacto ul li a:hover{
        color: #25D366;
    }

    .info_contacto .contacto{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .container_footer .info_contacto h4{
        font-size: 1.5rem;
        color: var(--orange-600);
    }

    .container_footer .info_contacto ul{
        font-size: 1.4rem;
        list-style: none;
        color: #fff;
    }

    .container_footer .redes h4{
        font-size: 1.5rem;
        color: var(--orange-600);
        margin-bottom: 10px;
    }

    .container_footer .redes ul{
        display: flex;
        gap: 10px;
        font-size: 2.5rem;
        list-style: none;
        color: #fff;
    }

    .container_footer .redes ul li a{
        text-decoration: none;
        color: #fff;
        transition: 0.3s;
    }

    .container_footer .redes ul li a:hover{
        color: var(--orange-600);
    }

    .footer_nav{
        display: grid;
        place-items: center;
    }

    .footer_nav .menu_footer{
        list-style-type: none;
        color: #fff;
        font-size: 1.4rem;
    }

    .footer_nav .menu_footer li{
        padding: 5px 0; 
    }

    .footer_nav .menu_footer li a{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s;
    }

    .footer_nav .menu_footer li a:hover{
        color: var(--orange-600);
    }
}

/* TABLET */
@media screen and (min-width: 767px) and  (max-width: 1023px){
    .footer{
        background: var(--blue-950);
        font-size: 2rem;
        padding: 30px 40px;
        box-shadow:0 0 6px #0c0c0c ;

    }

    .container_footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .container_footer .info_contacto{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .info_contacto, .footer_nav, .redes{
        width: 100%;
    }

    .container_footer .info_contacto .contacto ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container_footer .info_contacto .contacto ul li{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .container_footer .info_contacto .contacto ul li a{
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
    }

    .container_footer .info_contacto .contacto ul li i{
        font-size: 1.8rem;
    }

    .container_footer .info_contacto .contacto ul li a{
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        gap: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    .info_contacto .contacto{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .container_footer .info_contacto h4{
        font-size: 1.5rem;
        color: var(--orange-600);
    }

    .container_footer .info_contacto ul{
        font-size: 1.4rem;
        list-style: none;
        color: #fff;
    }

    .container_footer .redes h4{
        font-size: 1.5rem;
        color: var(--orange-600);
        margin-bottom: 10px;
    }

    .container_footer .redes ul{
        display: flex;
        gap: 10px;
        font-size: 2.5rem;
        list-style: none;
        color: #fff;
    }

    .container_footer .redes ul li a{
        text-decoration: none;
        color: #fff;
        transition: 0.3s;
    }

    .footer_nav{
        display: flex;
        justify-content: start;
    }

    .footer_nav .menu_footer{
        list-style-type: none;
        color: #fff;
        font-size: 1.4rem;
    }

    .footer_nav .menu_footer li{
        padding: 5px 0; 
    }

    .footer_nav .menu_footer li a{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 767px){
    .footer{
        background: var(--blue-950);
        font-size: 2rem;
        padding: 30px 40px;
        box-shadow:0 0 6px #0c0c0c ;

    }

    .container_footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .container_footer .info_contacto{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .info_contacto, .footer_nav, .redes{
        width: 100%;
    }

    .container_footer .info_contacto .contacto ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container_footer .info_contacto .contacto ul li{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .container_footer .info_contacto .contacto ul li a{
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
    }

    .container_footer .info_contacto .contacto ul li i{
        font-size: 1.8rem;
    }

    .container_footer .info_contacto .contacto ul li a{
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        gap: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    .info_contacto .contacto{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .container_footer .info_contacto h4{
        font-size: 1.5rem;
        color: var(--orange-600);
    }

    .container_footer .info_contacto ul{
        font-size: 1.4rem;
        list-style: none;
        color: #fff;
    }

    .container_footer .redes h4{
        font-size: 1.5rem;
        color: var(--orange-600);
        margin-bottom: 10px;
    }

    .container_footer .redes ul{
        display: flex;
        gap: 10px;
        font-size: 2.5rem;
        list-style: none;
        color: #fff;
    }

    .container_footer .redes ul li a{
        text-decoration: none;
        color: #fff;
        transition: 0.3s;
    }

    .footer_nav{
        display: flex;
        justify-content: start;
    }

    .footer_nav .menu_footer{
        list-style-type: none;
        color: #fff;
        font-size: 1.4rem;
    }

    .footer_nav .menu_footer li{
        padding: 5px 0; 
    }

    .footer_nav .menu_footer li a{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
}