/* ESCRITORIO */
@media screen and (min-width: 1024px){
    .header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px 20px;
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        transition: 0.5s;
        z-index: 9;
    }

    /* .header_sticked{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 20px;
        font-size: 1.6rem;
        background: #164164ef;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        box-shadow: 0 0 10px #0a0a0a;
        transition: 0.5s;
        z-index: 9;
    } */

    /* LOGO */

    .header_logo a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: var(--orange-600);
    }

    /* .header_sticked .logo_text{
        font-size: 3rem;
    } */

    .logo_text{
        font-family: var(--fjalla);
        font-size: 4rem;
        font-weight: 900;
        letter-spacing: 2px;
        text-shadow: 0 0 10px #0a0a0a;
    }

    /* NAV */
    .header_nav{
        width: 500px;
    }

    .menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        height: 100%;
        padding-left: 70px;
    }
    
    .menu .menu_link{
        position: relative;
        display: inline-block;
        font-weight: 600;
        text-decoration: none;
        color: var(--orange-500);
        text-shadow: 0 0 10px #0a0a0a;
        padding: 5px 0px;
        transition: 0.1s;
    }

    .menu .menu_link:hover{
        color: var(--orange-300);
    }

    
    /* CONTACTO */
    .header_contact{
        justify-self: end;
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .whatsapp{
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: rgb(0 0 0 / 0.3);
    }

    .whatsapp_icon{
        font-size: 4.5rem;
    }

    .whatsapp p{
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        transition: 0.1s;
    }

    .whatsapp:hover .whatsapp_icon{
        color: #25D366;
        text-shadow: 0 0 4px #25D366;
    }







    /* NAV RESPONSIVE */

    .menu_button, .menu_button_close, .header_nav_responsive{
        display: none;
    }

}


/* TABLET */
@media screen and (min-width: 767px) and  (max-width: 1023px) {
    
    .header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px 20px;
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 7px #0a0a0a;
        background: var(--blue-900);
        gap: 10px;
        transition: 0.5s;
        z-index: 9;
    }

    /* LOGO */

    .header .logo{
        width: 70px;
    }
    
    .header_logo a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: var(--orange-600);
    }
    
    .header_sticked .logo_text{
        font-size: 3rem;
    }
    
    .logo_text{
        font-family: var(--fjalla);
        font-size: 3.4rem;
        font-weight: 900;
        letter-spacing: 2px;
        text-shadow: 0 0 10px #0a0a0a;
    }

    .menu_button{
        display: flex;
        align-items: center;
        font-size: 4rem;
        color: var(--orange-600);
    }

    .menu_button_close{
        padding: 10px;
        font-size: 2.5rem;
        text-align: right;
    }


    .header_nav_responsive{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        padding: 0;
        background: var(--orange-600);
        height: 0;
        overflow: hidden;
        z-index: 9;
        transition: 0.3s;
    }

    .nav_open{
        height: 100vh;
        padding: 10px 15px;
        transition: 0.3s;
    }

    .header_nav_responsive .menu_responsive{
        list-style: none;
    }

    .header_nav_responsive .menu_responsive li{
        text-align: center;
        padding: 3px 0;
    }

    .menu_responsive .menu_resp_link{
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--blue-950);
    }


    .header_nav, .header_contact{
        display: none;
    }
}


/* SMARTPHONE */
@media screen and (max-width: 767px){

    .header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px 20px;
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 7px #0a0a0a;
        background: var(--blue-900);
        gap: 10px;
        transition: 0.5s;
        z-index: 9;
    }

    /* LOGO */

    .header .logo{
        width: 70px;
    }
    
    .header_logo a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: var(--orange-600);
    }
    
    .header_sticked .logo_text{
        font-size: 3rem;
    }
    
    .logo_text{
        font-family: var(--fjalla);
        font-size: 3.4rem;
        font-weight: 900;
        letter-spacing: 2px;
        text-shadow: 0 0 10px #0a0a0a;
    }

    .menu_button{
        display: flex;
        align-items: center;
        font-size: 4rem;
        color: var(--orange-600);
    }

    .menu_button_close{
        padding: 10px;
        font-size: 2.5rem;
        text-align: right;
    }


    .header_nav_responsive{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        padding: 0;
        background: var(--orange-600);
        height: 0;
        overflow: hidden;
        z-index: 9;
        transition: 0.3s;
    }

    .nav_open{
        height: 100vh;
        padding: 10px 15px;
        transition: 0.3s;
    }

    .header_nav_responsive .menu_responsive{
        list-style: none;
    }

    .header_nav_responsive .menu_responsive li{
        text-align: center;
        padding: 3px 0;
    }

    .menu_responsive .menu_resp_link{
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--blue-950);
    }


    .header_nav, .header_contact{
        display: none;
    }
    
}
